<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입페이지</title>
</head>
<body>
  <h1>Enroll member</h1>
  <hr>
  <form th:action="@{/user/signup}" method="post">
<!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
    <input type="text" name="email" placeholder="input email">
    <input type="password" name="password" placeholder="input password">
    <button type="submit">submit</button>
  </form>
</body>
</html>