<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>PW</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user:${userList}">
                <td th:text="${user.email}">email</td>
                <td th:text="${user.password}">password</td>
            </tr>
        </tbody>
    </table>
</body>
</html>